<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="../../libs/reset/normalize.css">
    <link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../../libs/bootstrap/js/bootstrap.js">
    <link rel="stylesheet" href="../base.css">
    <link rel="stylesheet" href="../footer.css">
    <link rel="stylesheet" href="../nav.css">
    <link rel="stylesheet" href="../main.css">
    <title>Job Hunter</title>
</head>
<body>
    <nav>
        <div class="container-fluid">
            <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                <a class="logo">&nbsp;Hunter</a>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="">搜索</a></li>
                <li><a href="">统计</a></li>
                <li><a href="">排名</a></li>
            </ul>
        </div>
    </nav>
    <main class="searching">
        <div class="container-fluid">
            <div class="row search-area">
                <form class="form-inline">
                    <div class="form-group">
                        <input class="form-control input-lg">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg search-btn">搜索</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row search-area">
                <ul class="list-group col-lg-5 col-md-10 col-sm-10 col-xs-12">
                    <li class="list-group-item job-item">
                        <div class="row job-header">
                            <span>Java工程师</span>
                            <em>-</em>
                            <span>泛微</span>
                            <span class="label label-default label-java">Java</span>
                            <span class="label label-default label-industry">金融</span>
                            <span class="label label-default label-industry">电子商务</span>
                        </div>
                        <div class="row job-body">
                            <ul>
                                <li>
                                    <div class="progress-bar salary-bar">
                                        <span>10K-14K</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="progress-bar year-bar">
                                        <span>5年</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="row job-footer">
                            <span class="job-city glyphicon">上海市</span>
                            <em>-</em>
                            <span>浦东新区</span>
                            <em>-</em>
                            <span>张江</span>
                            <span class="job-created">11:11发布</span>
                        </div>
                        <input class="jobId" type="hidden" value="111"/>
                    </li>
                    <li class="list-group-item job-item">
                        <div class="row job-header">
                            <span>Java工程师</span>
                            <em>-</em>
                            <span>泛微</span>
                            <span class="label label-default label-java">Java</span>
                            <span class="label label-default label-industry">金融</span>
                            <span class="label label-default label-industry">电子商务</span>
                        </div>
                        <div class="row job-body">
                            <ul>
                                <li>
                                    <div class="progress-bar salary-bar">
                                        <span>10K-14K</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="progress-bar year-bar">
                                        <span>5年</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="row job-footer">
                            <span class="job-city glyphicon">上海市</span>
                            <em>-</em>
                            <span>浦东新区</span>
                            <em>-</em>
                            <span>张江</span>
                            <span class="job-created">11:11发布</span>
                        </div>
                        <input class="jobId" type="hidden" value="111"/>
                    </li>
                    <li class="list-group-item job-item">
                        <div class="row job-header">
                            <span>Java工程师</span>
                            <em>-</em>
                            <span>泛微</span>
                            <span class="label label-default label-java">Java</span>
                            <span class="label label-default label-industry">金融</span>
                            <span class="label label-default label-industry">电子商务</span>
                        </div>
                        <div class="row job-body">
                            <ul>
                                <li>
                                    <div class="progress-bar salary-bar">
                                        <span>10K-14K</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="progress-bar year-bar">
                                        <span>5年</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="row job-footer">
                            <span class="job-city glyphicon">上海市</span>
                            <em>-</em>
                            <span>浦东新区</span>
                            <em>-</em>
                            <span>张江</span>
                            <span class="job-created">11:11发布</span>
                        </div>
                        <input class="jobId" type="hidden" value="111"/>
                    </li>
                    <li class="list-group-item job-item">
                        <div class="row job-header">
                            <span>Java工程师</span>
                            <em>-</em>
                            <span>泛微</span>
                            <span class="label label-default label-java">Java</span>
                            <span class="label label-default label-industry">金融</span>
                            <span class="label label-default label-industry">电子商务</span>
                        </div>
                        <div class="row job-body">
                            <ul>
                                <li>
                                    <div class="progress-bar salary-bar">
                                        <span>10K-14K</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="progress-bar year-bar">
                                        <span>5年</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="row job-footer">
                            <span class="job-city glyphicon">上海市</span>
                            <em>-</em>
                            <span>浦东新区</span>
                            <em>-</em>
                            <span>张江</span>
                            <span class="job-created">11:11发布</span>
                        </div>
                        <input class="jobId" type="hidden" value="111"/>
                    </li>
                </ul>
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><span>···</span></li>
                    <li><a href="#">30</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <footer>
        <div class="row">
            ©2016 By yeyu456@gmail.com
        </div>
    </footer>
</body>
</html>