<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../../libs/bootstrap/js/bootstrap.js">
    <title>Job Hunter</title>
    <style>
        body {
            padding-top:50px;
        }
        nav {
            position: fixed;
            height:50px;
        }
    </style>
</head>
<body>
    <nav>
        <div class="container-fluid">
            
        </div>
    </nav>
    <section>

    </section>
    <footer>

    </footer>
</body>
</html>