<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="../../libs/reset/normalize.css">
    <link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../../libs/bootstrap/js/bootstrap.js">
    <link rel="stylesheet" href="../base.css">
    <link rel="stylesheet" href="../footer.css">
    <link rel="stylesheet" href="../nav.css">
    <link rel="stylesheet" href="../statistics.css">
    <title>Job Hunter</title>
</head>
<body>
    <nav>
        <div class="container-fluid">
            <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                <a class="logo">&nbsp;Hunter</a>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="">搜索</a></li>
                <li class="active"><a href="">统计</a></li>
                <li><a href="">排名</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="main-wrapper container-fluid">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-10">

            </div>
        </div>
    </main>
    <footer>
        <div class="row">
            ©2016 By yeyu456@gmail.com
        </div>
    </footer>
</body>
</html>