html,
body {
    overflow-x:hidden;
    height: 100%;
    font-family: 'Open Sans',Arial,sans-serif;
}

/* Reset */
a {
    text-decoration: none;
}
a:hover,
a:active,
a:focus,
a:link {
    text-decoration:none;
}
li {
    list-style-type: none;
}